@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;600;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

html, body {
    line-height: 1;
    color: #00353F;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

.app {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ol,
ul,
li{
    list-style: none;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

.container {
    max-width: 1210px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*.container-center {*/
/*    max-width: 1280px;*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-block {
    width: 100%;
}
